# Dependencies
node_modules

# Build output
dist

# Test output
test/output

# Temp / working files
tmp

# Logs
*.log

# Environment
.env
.env.*

# Caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db
